---
import { Picture } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

import BracketedContent from "@components/BracketedContent.svelte";

const markdownFile = await Astro.glob("../content/manifesto.md");
const { frontmatter } = markdownFile[0];
---

<Layout title={frontmatter.title}>
	<main>
		<article>
			<Container
				class="text-basics-white flex flex-col items-center relative bg-[#171717]">
				<div class="mt-44 mb-4 max-w-[45%]">
					<div class="relative w-full aspect-[8/4]">
						<div class="absolute top-0 right-0 p-4 flex items-center">
							<img
								src="/icons/book-open-text.svg"
								alt="book_open_text_icon"
								class="mr-2 w-5 h-5"
							/>
							<span
								class="text-white text-sm px-4 py-2 z-10 rounded-md border border-white/10 bg-basics-darkGray/60"
								>10 min read</span
							>
						</div>
						<img
							alt="Descripción de la imagen"
							src="/assets/hero-culture.webp"
							class:list="w-full h-full object-cover"
						/>
						<div
							class="absolute inset-0 bg-gradient-to-b from-transparent to-black">
						</div>
						<div
							class="absolute bottom-0 left-0 w-full flex flex-col items-start justify-center p-4">
							<BracketedContent text={frontmatter.header?.bracketedContent} />
							<h3 class="mt-2 text-3xl font-base leading-[2rem] text-white">
								{frontmatter.header?.title}
							</h3>
						</div>
					</div>
					{
						frontmatter.sections?.map((section, index) => (
							<section class={`my-10 px-4 ${index === 0 ? "mt-6" : ""}`}>
								{section.title && (
									<h2 class="text-sm font-medium leading-[27px] text-primary-coralRed mb-5 uppercase font-IBMPlexMono tracking-[1.6px]">
										{section.title}
									</h2>
								)}
								{section.content.map((paragraph, index) => (
									<p class="font-light leading-[27px] text-primary-beige/75 mb-8">
										{paragraph}
									</p>
								))}
								{section.bullets && (
									<ul>
										{section.bullets.map((bullet, index) => (
											<li class="font-light leading-[27px] text-primary-beige/75 mb-4 flex items-center">
												<img
													src="/icons/check.svg"
													alt="check_icon"
													class="mr-4 w-5 h-5 p-1 bg-primary-coralRed rounded-full"
												/>
												{bullet}
											</li>
										))}
									</ul>
								)}
							</section>
						))
					}
				</div>
			</Container>
		</article>
	</main>
</Layout>
