---
import Layout from "@layouts/Layout.astro";

import OriginsSection from "./Origins.astro";
import PartnersSection from "./Partners.astro";
import HeroDesktopSection from "./HeroDesktop.astro";
import ProfilePictureCarouselSection from "./ProfilePictureCarousel.astro";

const markdownFile = await Astro.glob("./content/team.md");
const { frontmatter } = markdownFile[0];
---

<Layout title={frontmatter.title}>
	<main>
		<HeroDesktopSection textObj={frontmatter.heroSection} class="xl:flex" />
		<ProfilePictureCarouselSection textObj={frontmatter.profiles} />
		<OriginsSection textObj={frontmatter.origins} />
		<PartnersSection textObj={frontmatter.partners} />
	</main>
</Layout>
