---
import Layout from "@layouts/Layout.astro";

import FaqsSection from "./Faqs.astro";
import ComparisonSection from "./Comparison.astro";
import HeroDesktopSection from "./HeroDesktop.astro";
import ImpactNumbersSection from "./ImpactNumbers.astro";

const { slug } = Astro.params;
const markdownFiles = await Astro.glob("./content/*.md");
const content = markdownFiles.find((file) => file.url?.includes(slug));

if (!content) {
	return Astro.redirect("/404");
}

const { frontmatter } = content;

export async function getStaticPaths() {
	const slugs = ["training", "experience", "engage"];
	return slugs.map((slug) => ({ params: { slug } }));
}
---

<Layout title={frontmatter.title}>
	<main>
		<HeroDesktopSection textObj={frontmatter.heroSection} class="xl:flex" />
		<ImpactNumbersSection textObj={frontmatter.impactNumbersSection} />
		<ComparisonSection textObj={frontmatter.comparisonSection} />
		<FaqsSection textObj={frontmatter.faqSection} />
	</main>
</Layout>

<!-- <script type="module">
	import { handleClick } from "../utils/analytics.js";

	document
		.getElementById("hero-link")
		.addEventListener("click", function (event) {
			handleClick(event, "Index - Hero CTA Button", "/contact");
		});
</script> -->
