---
import Container from "@components/Container.astro";

import BracketedContent from "@components/BracketedContent.svelte";
import CardWithHighlightNumber from "@components/cards/WithHighlightNumber.astro";

const { textObj } = Astro.props;
---

<Container
	class="flex flex-col items-center justify-center py-24 xl:pt-28"
	bgColor="bg-primary-panther">
	<div class="flex flex-col items-center relative">
		<div class="flex flex-col justify-center items-center z-10 mb-14 w-[48%]">
			<BracketedContent
				className="text-primary-beige/75"
				text={textObj?.bracketedContent}
			/>
			<h2
				class="text-4xl 2xl:text-5xl font-normal text-center mt-3 mb-6 text-primary-beige pr-10">
				{textObj?.header?.titlePart1}
				<span class="text-primary-coralRed">{textObj?.header?.titlePart2}</span>
			</h2>
			<h3
				class="w-[75%] text-base font-light text-primary-beige/75 text-center mb-6">
				{textObj?.header?.subtitle}
			</h3>
		</div>
		<div class="flex gap-4">
			<CardWithHighlightNumber
				kpi={textObj?.cards[0]?.kpi}
				text={textObj?.cards[0]?.text}
			/>
			<CardWithHighlightNumber
				kpi={textObj?.cards[1]?.kpi}
				text={textObj?.cards[1]?.text}
			/>
			<CardWithHighlightNumber
				kpi={textObj?.cards[2]?.kpi}
				text={textObj?.cards[2]?.text}
			/>
		</div>
	</div>
</Container>
