---
import { Icon } from "astro-icon/components";
import PulseAnimatedBtn from "@components/PulseAnimatedBtn.svelte";

const { iconName, title, subtitle, textBtn, iconBtn, action, className } =
	Astro.props;

const actionLinks = {
	"download-kit": "https://statics.numinia.xyz/numen-brand-kit.zip",
	"join-discord": "https://discord.gg/ASwwdd24pp",
};

const isExternalLink = action === "join-discord";
const linkProps = isExternalLink
	? { target: "_blank", rel: "noopener noreferrer" }
	: {};
const linkHref = actionLinks[action];
---

{
	linkHref ? (
		<a
			href={linkHref}
			{...linkProps}
			class="w-full rounded-xl border border-white/10 p-6 hover:bg-basics-white/10 cursor-pointer shadow-[0px_0px_30px_0px_rgba(255,255,255,0.20)_inset] z-10">
			<Icon
				name={iconName}
				class="h-16 w-16 p-4 bg-primary-coralRed rounded-full"
			/>
			<div class="mt-10 pr-[48%]">
				<h4 class="text-primary-beige text-2xl font-light">{title}</h4>
				<p class="text-primary-beige/75 mt-3 text-sm font-extralight">
					{subtitle}
				</p>
				<PulseAnimatedBtn
					className="mt-5 text-base flex items-center"
					icon={iconBtn}
					text={textBtn}
				/>
			</div>
		</a>
	) : (
		<div
			class={`w-full rounded-xl border border-white/10 p-6 hover:bg-basics-white/10 cursor-pointer shadow-[0px_0px_30px_0px_rgba(255,255,255,0.20)_inset] z-10 ${className}`}>
			<Icon
				name={iconName}
				class="h-16 w-16 p-4 bg-primary-coralRed rounded-full"
			/>
			<div class="mt-10 pr-[48%]">
				<h4 class="text-primary-beige text-2xl font-light">{title}</h4>
				<p class="text-primary-beige/75 mt-3 text-sm font-extralight">
					{subtitle}
				</p>

				<PulseAnimatedBtn
					className="mt-5 text-base flex items-center"
					icon={iconBtn}
					text={textBtn}
				/>
			</div>
		</div>
	)
}
