---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "@layouts/LayoutWithFooter.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
	return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Numen Games - Team">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Team</Fragment>
			<Fragment slot="desc">We are a small passionate team.</Fragment>
		</Sectionhead>

		<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
			<h2 class="font-bold text-3xl text-gray-800">Origins</h2>
			<p class="text-lg leading-relaxed text-slate-500">
				Year 2020. Cyber dawn. The Oracles vision birthed Numinia, a quest to
				level up organizations through digital interaction and gaming at the
				metaverse, inspired by role-playing adventures with passion for shaping
				the future for the ones to come.
			</p>
		</div>
		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
			{
				publishedTeamMembers.map((teamMemberEntry) => (
					<div class="group">
						<div class="w-full aspect-square">
							<Picture
								src={teamMemberEntry.data.avatar.src}
								alt={teamMemberEntry.data.avatar.alt}
								sizes="(max-width: 800px) 100vw, 400px"
								width={400}
								height={400}
								class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
							/>
						</div>

						<div class="mt-4 text-center">
							<h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
							<h3 class="text-sm text-slate-500">
								{teamMemberEntry.data.title}
								{teamMemberEntry.data.links.oncyber && (
									<>
										{" "}
										- <a href={teamMemberEntry.data.links.oncyber}>Profile</a>
									</>
								)}
								{teamMemberEntry.data.links.linkedin && (
									<>
										{" "}
										- <a href={teamMemberEntry.data.links.linkedin}>Profile</a>
									</>
								)}
							</h3>
						</div>
					</div>
				))
			}
		</div>
		<!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
			<div>
				<p>PERSONAL BOND</p>
				<p>Friends</p>
				<p>
					The five Oracles are united by family and friendship. With a shared
					experience of adventure and learning that spans more than 15 years,
					they are joined by lasting bonds; two members comprise a family,
					another is a childhood friend, and the fourth and fifth are long-time
					colleagues.
				</p>
			</div>
			<div>
				<p>PLAY & BUILD</p>
				<p>Adventurers</p>
				<p>
					Together, the Oracles share a passion for innovation and the
					improvement of this world for those who come next. Shared as well is
					the tradition of fundamental learning through play -- specifically
					role-playing, which can be found ingrained in the DNA of the team and
					the experiences they create.
				</p>
			</div>
			<div>
				<p>INNOVATE & DIVULGE</p>
				<p>Learners</p>
				<p>
					All the Oracles are entrepreneurs throughout their professional
					careers with projects, often linked to technology and innovation, as
					well as storytelling and communication.
				</p>
			</div>
		</div> -->
	</Container>
</Layout>
